<div class="container">
  <div class="jumbotron">

    <p id="notice"><%= notice %></p>

    <h1>Events</h1>

    <table class="table">
      <thead class="thead">
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Price</th>
          <th>Place</th>
          <th>Description</th>
          <th>Creator</th>
          <th>Participation</th>
        </tr>
      </thead>

      <tbody class="tbody">
        <% @events.each do |event| %>
          <tr>
            <td><%= link_to "#{event.name}", event %></td>
            <td><%= event.date.strftime("%d/%m/%Y") %></td>
            <% if event.price == 0 %>
              <td>Gratuit !</td>
            <% else %>
              <td><%= event.price %></td>
            <% end %>
            <td><%= event.place %></td>
            <td><%= event.description %></td>
            <td><%= event.creator.username %></td>
            <% if current_user == event.creator %>
              <td>Hôte</td>
            <% else %>
              <td><%= form_for(:session, url: subscribe_path(event.id)) do |session_form| %>
                <% if event.attendees.include?(current_user) %>
                  <%= session_form.submit "Deja inscrit", disabled: true %>
                <% else %>
                  <%= session_form.submit "S'inscrire" %>
                <% end %>
              <% end %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Creer un évènement', new_event_path, :class =>"btn" %>

  </div>
</div>