<div class="container">
	<div class="jumbotron">

		<p id="notice"><%= notice %></p>

		<p>
		  <strong>Evenement:</strong>
		  <%= @event.name %>
		</p>

		<p>
		  <strong>Date:</strong>
		  <%= @event.date.strftime("%d/%m/%Y") %>
		</p>

		<p>
		  <strong>Lieu:</strong>
		  <%= @event.place %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @event.description %>
		</p>

		<p>
		  <strong>Crée part:</strong>
		  <%= @event.creator.username %>
		</p>
		<% if @check_user %>
			<%= link_to 'Editer', edit_event_path(@event) %> |
			<%= link_to 'Supprimer', @event, method: :delete, data: { confirm: 'Vous confirmez?' } %> |
		<% end %>
		<%= link_to 'Revenir aux évènements', events_path %>
	</div>
</div>
